{% extends 'base.html' %}

{% block content %}
<header>
    <center>
        <h1>Archive</h1>
        <p class="article-subtitle"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> This is my articles </p>
    </center>
</header>
<div class="post-article">
    <!--
    <h3>2017</h3>
    <ul>
        <li>
            <a href="/">This my personal life</a>
            <span class="date-color"> - 2 Jan 2017 </span>
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/">flask training 1</a>
            <span class="date-color"> - 13 Jun 2017 </span>
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </li>
    </ul>
    <ul><li><a href="#">I have some good idea</a><span class="date-color"> - 3 January 2017</span></li></ul>
    <ul><li><a>Python is good sound</a><span class="date-color"> - 22 March 2017</span></li></ul>
    <ul><li><a>My books</a><span class="date-color"> - 1 April 2017</span></li></ul>
    -->

    {% for year in year_list %}
    <h3>{{ year }}</h3>
        {% for article_tuple in article_dict[year] %}
        <ul>
            <li>
                <a href="{{ url_for('main.v_detail', title=article_tuple[0]) }}">{{ article_tuple[0] | e }}</a>
                <span class="date-color"> - {{ article_tuple[2] | join('-') }} </span>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                {% if article_tuple[1] == 1 %}
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
    {% endfor %}

    <!-- 返回顶部 -->
    <div class="pull-right">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        <a class="back-to-top" href="#top">Back_to_top</a>
    </div>
</div>

{% endblock %}