{% extends 'base.html' %}

<!--这个部分是代码高亮脚本 -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<header>
    <center>
        <h2>{{ article.title }}</h2>
        <div class="article-meta">
            <p>
                <span class="glyphicon  glyphicon-calendar" aria-hidden="true"></span> {{ article.publish_time.date() | date_format }}
                <span class="glyphicon  glyphicon-user" aria-hidden="true"></span> {{ user.username | e }}
            </p>
            <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ article.see_times }}</p>
            <p>
            {% for category in article.categorys %}
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <a href="{{ url_for('main.v_ca_archive', name=category.category_name) }}"> {{ category.category_name | e }}</a>
            {% endfor %}
            </p>
            <p>
            {% for tag in article.tags %}
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <a href="{{ url_for('main.v_tag_archive', name=tag.tag_name) }}"> {{ tag.tag_name | e }}</a>
            {% endfor %}
            </p>
         </div>

        <div class="post-article">
            <p>
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <a href="{{ url_for('auth.v_editarticle', name=article.title) }}" class="text-warning"> edit</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <a href="{{ url_for('auth.v_delete', name=article.title, flag='Article') }}" class="text-danger"> delete</a>
            </p>
        </div>
    </center>
</header>

<div class="post-article">
    {% filter markdown %}{{ article.content | safe }}{% endfilter %}

    <!-- 返回顶部 -->
    <div class="pull-right">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        <a class="back-to-top" href="#top">Back_to_top</a>
    </div>
</div>


{% endblock %}