{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='tag.css') }}">
{% endblock %}

{% block content %}
<div class="post-article">
    <header>
        <center>
            <h1>Tags</h1>
            <p class="article-subtitle"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Some Tags </p>
        </center>
    </header>

    <section>
    {% for tag_tuple in tag_list %}
        <a class="post-tag-item" href="{{ url_for('main.v_tag_archive', name=tag_tuple[0]) }}">{{ tag_tuple[0] | e }}</a>
    {% endfor %}
    </section>

</div>
{% endblock %}